<html lang="en" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<h1>Add a Cd to Libary <strong>{lib.bibName}</strong></h1>
<f:form action="add" object="{cd}" name="cd" arguments="{libary:lib, cd:cd}" additionalAttributes="{role:'form'}">
    <div class="form-group">
        <label>Cd Name</label>
        <f:form.textfield property="cdName" class="form-control" />
    </div>

    <div class="form-group">
        <label>Erscheinungssjahr</label>
        <f:form.textfield property="erschJahr" class="form-control" />
    </div>


    <f:form.submit value="Create Cd!" additionalAttributes="{libary:lib}" class="btn btn-primary" />
    <f:link.action action="edit" controller="Libary" class="btn btn-primary" arguments="{libary:lib}">Zur&uuml;ck zu {lib.bibName}</f:link.action>
</f:form>