<html lang="en" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<h1>Titel der Cd: {cd.cdName} aus Libary {lib.bibName}</h1>
<f:if condition="{cd.titles}">
  <table>
  <tr>
  <th>Nummer</th><th>Name</th><th>L&auml;nge</th><th>Audio</th>
  </tr>
    <f:for each="{cd.titles}" as="atitle" iteration="iterator">
    	<tr>
    	<td>{iterator.cycle}</td><td>{atitle.tName}</td><td>{atitle.laenge}</td>
    	       <!-- {atitle.mp3},{atitle.fullMp3Name.publicUrl}, -->
         <td><audio controls>
  <source src="{atitle.fullMp3Name}" type="audio/mpeg">
Ihr Browser unsterst&uuml;tzt das Format nicht
</audio></td>
            <td><f:link.action action="deleteConfirmTitle" arguments="{libary:lib, cd : cd,titel:atitle}" class="btn btn-xs">l&ouml;schen</f:link.action></td>
            <td><f:link.action action="editTitle" arguments="{libary:lib, cd : cd,titel:atitle}" class="btn btn-xs">bearbeiten</f:link.action></td>

        </tr>
    </f:for>
    </table>
</f:if>


    <f:form action="addTitle" object="{titel}" method="post" enctype="multipart/form-data" name="titel" arguments="{libary:lib,cd:cd,titel:titel}" additionalAttributes="{role:'form'}">
        <div class="form-group">
            <label>Titel Name</label>
            <f:form.textfield property="tName" class="form-control" />
        </div>

        <div class="form-group">
            <label>L&auml;nge</label>
            <f:form.textfield property="laenge" class="form-control" />
        </div>

        <div class="form-group">
         	Datei hochladen
        	<input name="datei" type="file" accept="text/*" property="mp3"> 
        </div>
        <f:form.submit value="Add title" class="btn btn-primary" />
        <f:link.action action="edit" controller="Libary" arguments="{libary:lib,cd:cd}" class="btn btn-primary">Zur&uuml;ck zur Cd-Liste</f:link.action>

    </f:form>
